
<div class="imgmm" style="clear: both;text-align: center;">
<img border="0" data-original-height="90" data-original-width="120" src="https://4.bp.blogspot.com/-j1NMTAwmcMw/XLmrQoTXzKI/AAAAAAAADRw/U7U7M2KGymwYXXwR1EW73Gzfa7Hw2fm0ACLcBGAs/s1600/9992858102603b19cb5edf90e0a86199.png">
</div>

<div align="center" style="margin-bottom: 7px;">
<a class="btnref" onclick="window.location.reload(true);">تحديث</a>
<a class="tomboltv" href="javascript:server1();">البث الرئيسي </a>
<a class="tomboltv" href="javascript:server2();">جودة عالية</a>
<a class="tomboltv" href="javascript:server3();">جودة متوسطة</a>
<a class="tomboltv" href="javascript:server4();">جودة ضعيفة</a>
</div>
    <div class="chanel">
        <div id="tivi">
            <iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="420" scrolling="no" src="https://www.247bay.tv/hembedplayer/beinsportsdewaq1q/2/600/420" width="600"></iframe>
            <br />
            <br />
            <script type="text/javascript">
                function server1() {
                    document.getElementById("tivi").innerHTML = '<iframe allowfullscreen="true" src="https://www.247bay.tv/hembedplayer/beinsportsdewaq1q/2/600/420" allowtransparency="true" frameborder="0" height="100%" scrolling="no" width="100%"></iframe>';
                }

                function server2() {
                    document.getElementById("tivi").innerHTML = '<iframe allowfullscreen="true" src="https://www.247bay.tv/hembedplayer/beinsportsdewaq1q/2/600/420" allowtransparency="true" frameborder="0" height="100%" scrolling="no" width="100%"></iframe>';
                }

                function server3() {
                    document.getElementById("tivi").innerHTML = '<iframe allowfullscreen="true" src="https://www.247bay.tv/hembedplayer/beinsportsdewaq1q/2/600/420" allowtransparency="true" frameborder="0" height="100%" scrolling="no" width="100%"></iframe>';
                }
              function server4() {
            document.getElementById("tivi").innerHTML = '<iframe allowfullscreen="true" src="https://www.247bay.tv/hembedplayer/beinsportshd5jh/2/360/350" allowtransparency="true" frameborder="0" height="100%" scrolling="no" width="100%"></iframe>';
                }
            </script>
        </div>
    </div>
